<h1>Hylyle</h1>
<h2>The Personal Assistant</h2>
<ul>
  <li>What is this?
    <ul>
      <li>Hey, I'm Hylyle!</li>
      <li>Currently, I aim  to keep your events scheduled.</li>
      <li>My next goal is to be able to help plan your free time.</li>
      <li>My dream is to be the best assistant possible, and help you however I can.</li>
    </ul>
  </li>
  <br>
  <li>Okay, but what can I do here?
    <ul>
      <li>Jot down <b>events</b> and <b>deadlines</b> and I will keep track of them.</li>
      <li>Eventually, I'll learn to hold hobbies and other small activities that you might want to do in future free time, and suggest some when you're free.</li>
      <li>In the future, I might even be more interactive! I guess I'll see when the time comes though.</li>
    </ul>
  </li>
</ul>
